<!-- <div class="col-span-1 flex ps-2">
    <p-button (onClick)="downloadPDf(Offer)" label="" [style]="{
                        padding: '2px', backgroundColor:'RGB(247, 213, 77)' , color:'black'
                    }">

        <img src="../../../assets/img.icons81.png" style="height: 25px;width: 25px;">تحميل
    </p-button>

</div> -->
<div class="content p-4 sm:mr-64">
    <p-paginator [pageLinkSize]="requests?.totalPages" [rows]="requests?.limit" [totalRecords]="requests?.count"
        [first]="1" (onPageChange)="onPageChange($event)" dir="ltr">
    </p-paginator>
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <!-- <app-price-request></app-price-request> -->
        <!-- <router-outlet></router-outlet> -->
        <app-req-card [reqData]="requests?.requests"></app-req-card>


    </div>
    <p-paginator [pageLinkSize]="requests?.totalPages" [rows]="requests?.limit" [totalRecords]="requests?.count"
        [first]="1" (onPageChange)="onPageChange($event)" dir="ltr">
    </p-paginator>
</div>